# Maven / Java build
target/

# Logs
logs/
*.log

# Variables privadas
.env
application-local.properties

# Mac / Windows
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos temporales
*.class
*.jar
*.war
*.ear